<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>VueJS</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/load.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/commons.css">
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    
</head>
<body>
    <!--
        VueJS는 제어 영역을 반드시 설정해야 한다.
    -->
    <div id="app">

        <h1>자동완성 예제(검색)</h1>
        <!--
            한글 등 IME 입력 이슈에 대응하기 위한 방법
            - v-model 만으로는 어려우므로 v-on:input을 같이 사용
            - v-on:input으로 입력 발생 시 수동으로 데이터를 갱신하도록 간성
            - v-on:input="데이터 = $event.target.value"
            - $event는 Vue에서 관리하는 이벤트 정보 객체

        -->
        <input type="text" v-model="keyword" v-on:input="keyword = $event.target.value">

        <div v-for="(pocketmon, index) in result" :key="pocketmon.no">
            {{pocketmon}}
        </div>
    </div>

    <!--
        VueJS는 Lazy Loading 방식으로 제어 영역에 대한 프로그래밍 구현 

        무조건 최신버전
        <script src="https://unpkg.com/vue@next"></script>
    -->
    <script src="https://unpkg.com/vue@3.2.36"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Lodash -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
 
    <script>
        Vue.createApp({
            // 데이터 설정 영역
            data(){
                return{
                    // 화면에서 사용할 데이터 선언
                  
                    // 검색어 입력창과 연결할 데이터
                    keyword:"",

                    //검색 결과 데이터
                    result: [],
                };
            },

            computed:{

            },
            methods:{
                async loadResult(){    
                    if(this.keyword.length == 0) return;    // 검색어가 없을 때 오류 해결

                    const resp = await axios("http://localhost:8080/pocketmon/name/"+this.keyword);
                    // this.result = resp.data;  들어는 가지만 갱신이 안된다
                    this.result.splice(0);                //전체 삭제
                    this.result.push(...resp.data);     //전개연산자로 추가
                    // console.log("loadResult 실행완료");
                },
            },

            // 감시 영역(watch)
            // - data의 변동사항이 생기면 자동으로 실행되는 영역
            // - computed와 유사한 역할을 수행하지만 다름
            // - (data가 변하면)computed는 새로운 값을 계산하는 용도(값으로 값을) (비동기 통신X)
            // - (data가 변하면)watch는 특정 코드를 실행하는 용도(computed 이외) (비동기 통신0)
            watch:{

                // [1] 성능 신경 X 구현만한 경우
                // 입력 빈도가 늘어날수록 서버에 부하가 심해짐

                //     keyword:function(){}, 
                //     keyword(cur, old){
                //     this.loadResult();
                // },

                // [2] 쓰로틀링 적용(lodash)
                // - 쓰로틀링은 설정한 시간 주기 이하의 이벤트는 무시
                // - 적용방법 : _.throttle(함수, 시간주기) => 새로운 함수
                // - 이상적인 시간응ㄴ 약 250ms 정도
                // keyword : _.throttle(function(){코드},250ms),

                keyword : _.throttle(function(){
                    // console.log(this);  this== 뷰인스턴스
                    this.loadResult();
                }, 250),

                // [3] 디바운스 적용(debounce)
                // - 디바운스는 설정한 주기만큼의 시간이 지난 뒤 실행
                // - (ex) 주기가 1000ms라면 마지막 이벤트 발생 후 1000ms 뒤 실행
                // - 적용방법 : _.debounce(function{함수}, 250ms),
               
                // keyword : _.debounce(function(){
                //     // console.log("debounce 실행");
                //     this.loadResult();
                // }, 250),


            },
        }).mount("#app");
    </script>
