<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>VueJS</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/load.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/commons.css">
    <link rel="stylesheet" type="text/css" href="css/layout.css">


    
</head>
<body>
    <!--
        VueJS는 제어 영역을 반드시 설정해야 한다.
    -->
    <div id="app">

        <div class="container-1000">
            <div class="row center">
                <h1>강의 관리 페이지</h1>
            </div>
            <div class="row right">
                ({{page}}page)
            </div>
            <div class="row right">
                <button class="form-btn positive" v-on:click="modal=true">
                    <i class="fa-solid fa-plus"></i>
                    강의등록</button>
            </div>

            <div class="row center">
                <table class="table table-border">
                    <thead>
                        <th>강의번호</th>
                        <th>강의이름</th>
                        <th>강의시간</th>
                        <th>수강료</th>
                        <th>강의유형</th>
                        <th>관리</th>
                    </thead>
                    <tbody v-for="(subject, index) in subjectList" :key="subject.no">
                        <td v-if="subject.edit == true">{{subject.no}}</td>
                        <td v-else>{{subject.no}}</td>
                        <td v-if="subject.edit == true"><input type="text" v-model="subjectList[index].name"></td>
                        <td v-else>{{subject.name}}</td>
                        <td v-if="subject.edit == true"><input type="text" v-model.number="subjectList[index].period"></td>
                        <td v-else>{{subject.period}}</td>
                        <td v-if="subject.edit == true"><input type="text" v-model.number="subjectList[index].price"></td>
                        <td v-else>{{subject.price}}</td>
                        <td v-if="subject.edit == true"><input type="text" v-model="subjectList[index].type"></td>
                        <td v-else>{{subject.type}}</td>
                        <td v-if="subject.edit == true">
                            <i class="fa-solid fa-check ms-20" v-on:click="sendEdit(index)"></i>
                            <i class="fa-solid fa-xmark ms-20" v-on:click="cancleEdit(index)"></i>
                        </td>
                        <td v-else>
                            <i class="fa-solid fa-edit ms-20" v-on:click="changeEdit(index)"></i>
                            <i class="fa-solid fa-trash ms-20" v-on:click="deleteItem(index)"></i>
                        </td>
                    </tbody>

                </table>
            </div>
            <div class="fullscreen" v-show="modal ==true">
                <div class="fullscreen-container">
                    <div class="row center">
                        <h3>강의 등록</h3>
                        <i class="fa-solid fa-xmark ms-20" v-on:click="modal=false"></i>
                    </div>
                    <div class="row">
                        <label>강의번호</label>
                        <input type="text" class="w-100" v-model.number="no" placeholder="번호">
                    </div>
                    <div class="row">
                        <label>강의이름</label>
                        <input type="text" class="w-100" v-model="name" placeholder="이름">
                    </div>
                    <div class="row">
                    <label>강의시간</label>
                    <input type="text" class="w-100" v-model.number="period" placeholder="강의시간">
                    </div>
                    <div class="row">
                        <label>수강료</label>
                        <input type="text" class="w-100" v-model.number="price" placeholder="수강료">
                    </div>
                    <div class="row">
                        <label>강의유형</label>
                        <input type="text" class="w-100" v-model="type" placeholder="강의유형">
                    </div>
                    <button class="form-btn positive w-100" v-on:click="addItem">
                        <i class="fa-solid fa-plus ms-20"></i>
                        등록</button>
                </div>
            </div>

        </div>

    </div>

    <!--
        VueJS는 Lazy Loading 방식으로 제어 영역에 대한 프로그래밍 구현 

        무조건 최신버전
        <script src="https://unpkg.com/vue@next"></script>
    -->
    <script src="https://unpkg.com/vue@3.2.36"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Lodash -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
 
    <script>
        Vue.createApp({
            // 데이터 설정 영역
            data(){
                return{

                    percent:0,

                    page:1,
                    subjectList:[],
                    subjectListCopy:[],

                    finish:false,

                    loading:false,

                    // modal
                    modal:false,
                };
            },
            computed:{

            },
            methods:{
                async loadList(){
                    if(this.loading == true) return;   
                    if(this.finish == true) return;    
                    this.loading=true;

                    const resp = await axios.get ("http://localhost:8080/subject/page/"+this.page);

                    this.subjectList.splice(0);
                    this.subjectListCopy.splice(0);

                    this.subjectList.push(...resp.data);

                    
                    this.page++;
                    
                    this.loading=false;
                    
                    if(resp.data.length < 10){      
                        this.finish = true;
                    }
                    const copy = _.cloneDeep(resp.data);
                    this.subjectListCopy.push(...copy);
                },

                changeEdit(index){
                    // 자바스크립트는 속성이 없으면 생성할 수 있다
                    this.subjectList[index].edit=true;
                },

                cancleEdit(index){
                    this.subjectList[index].name = this.subjectListCopy[index].name;
                    this.subjectList[index].period = this.subjectListCopy[index].period;
                    this.subjectList[index].price = this.subjectListCopy[index].price;
                    this.subjectList[index].type = this.subjectListCopy[index].type;
                    this.subjectList[index].edit=false;
                },

                async sendEdit(index){
                    const url = "http://localhost:8080/subject/";
                    const data = this.subjectList[index];
                    const resp = await axios.put(url, data);

                    this.loadList();
                },

                async deleteItem(index){
                    const choice=window.confirm("정말 삭제하시겠습니까?")
                    if(choice == false) return;
                    
                    const no = this.subjectList[index].no;
                    const url = "http://localhost:8080/subject/"+no;
                    const resp = await axios.delete(url);

                    this.loadList();
                },
                
                addItem(){
                    const choice=window.confirm("입력한 정보로 등록하시겠습니까?")
                    if(choice == false) return;
                    const data={
                        no:this.no, name:this.name, period:this.period, price:this.price, type:this.type
                    };
                    this.subjectList.push(data);

                    //입력값 지우기
                    this.no="",
                    this.name="",
                    this.period="",
                    this.price="",
                    this.type=""

                    //모달창 닫기
                    this.modal = false;
                },
            },
            watch:{

                percent(){
                    if(this.percent>=80){

                        this.loadList();
                    }
                },
            },
            mounted(){
                const app = this; 

                window.addEventListener("scroll", _.debounce(()=>{
                    console.log(this);

                    const height = document.body.clientHeight - window.innerHeight;
                    const current = window.scrollY;
                    const percent = (current / height) * 100;
                    console.log("percent = " + Math.round(percent));

                    this.percent = Math.round(percent);
                },250));
            },
            created(){
                this.loadList();
            },
        }).mount("#app");
    </script>
